<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        {% block title %}
        {% endblock %}
    </head>
    <body>
        <div>
            <img src="../static/musk.jpg" alt="Elon" style="width:300px;">
        </div>
        <div class="header">
            <a class="active" href= "/home">Home</a>
            <div class="header">
                {% if username and password %}
                <a href= "/create_message">Create a message</a>
                <!-- <a href= "/create_user">Create User</a> -->
                <!-- <a href= "/login">Login</a> -->
                <a href= "/logout">Log Out</a>
                <!-- <a href= "/home"> Home</a> -->
                <a href= "/change_password">Change Password</a>
                <a href= "/delete_account">Delete Account</a>
                {% else %}
                <!-- <a href= "/create_message">Create a message</a> -->
                <a href= "/create_user">Create User</a>
                <a href= "/login">Login</a>
                <!-- <a href= "/logout">Log Out</a> -->
                {% endif %}
            </div>
        </div>
        <h1>Tim's Twitter Clone</h1>
        <div>
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>