{% extends 'base.html' %}

{% block content %}
{% if not_logged %}
<meta http-equiv="Refresh" content="0; url='http://127.0.0.1:5000/home'" />
{% endif %}

<h2>Reset Password</h2>

<form action='/change_password' method="POST">
    <table>
        <tr>
            <td>old password</td>
            <td><input type=password name=old_password></td>
        </tr>
        <tr>
            <td>new password</td>
            <td><input type=password name=new_password1></td>
        </tr>
        <tr>
            <td>confirm</td>
            <td><input type=password name=new_password2></td>
        </tr>
        <tr>
            <td></td>
            <td><input type=submit value='submit'></td>
        </tr>
    </table>
</form>

{% if good %}
<meta http-equiv="Refresh" content="0; url='http://127.0.0.1:5000/home'" />
{% elif wrong_password %}
Wrong password, please try again.
{% elif mismatch %}
New passwords do not match.
{% elif none %}
Please enter a new password
{% else %}
{% endif %}
{% endblock %}