{% extends 'base.html' %}

{% block content %}
{% if not_logged %}
<meta http-equiv="Refresh" content="0; url='http://127.0.0.1:5000/home'" />
{% endif %}

<h2>Delete Account</h2>

<form action='/delete_account' method="POST">
    <table>
        <tr>
            <td>Type CONFIRM to delete</td>
            <td><input type=text name=confirm></td>
        </tr>
        <tr>
            <td></td>
            <td><input type=submit value='submit'></td>
        </tr>
    </table>
</form>

{% if wrong_confirm %}
Did not type CONFIRM, so account wasn't deleted.
{% elif deleted %}
Account Deleted!
{% else %}
{% endif %}
{% endblock %}